@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My First Webpage";
}

<!-- Body information that gets applied to the layout -->

<h1>Autumn DeLange</h1>

<img src="img/WebsitePic.jpg" width="300" height="400" />
<br />
<p>
    I hope to become a better full stack developer after taking this class. I am excited to be learning a strongly typed
    language, and I hope to use my knowledge of C# to become a software engineer and build websites.
</p>
<br />
<h2>Top 3 Jobs I am Interested in After Graduation</h2>
<ol>
    <li>Software Engineer for Disney</li>
    <li>Web Developer for Family Businesses</li>
    <li>Bioinformatician</li>
</ol>


    
